.dimmed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  .popupWrap {
    width: 500px;
    height: 150px;
    margin: 20% auto;
    background-color: #fff;
    strong {
      display: block;
      line-height: 120px;
      font-size: 28px;
      font-weight: bold;
      color: #f00;
    }
    button {
      width: 80px;
      height: 20px;
      background-color: #000;
      border: none;
      color: #fff;
    }
  }
}
